.workers{
    background-color: var(--section-bg-color);
    padding-top: 94px;
}

.team{
    display: flex;

    &__item{
        background-color: var(--letters-color);
    }

    &__item:not(:first-child){
        margin-left: 30px;
    }

    &__names{
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        margin-bottom: 10px;
    }

    &__description{
        color: var(--seconday-text-color);
        font-size: 16px;
        line-height: 1.18;
    }

    &__border{
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
}

.socialmedia{
    display: flex;
    margin-top: 16px;
    justify-content: center;
    gap: 10px;
}

.socialmedia__links{
    height: 44px;
    width: 44px;
    background-color: var(--letters-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--clients-color);
    transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
    
    &:hover,&:focus{
        background-color: var(--accent-color);
        fill: var(--letters-color);
    }
}
