.works{
    display: flex;

    &__item:not(:first-child){
        margin-left: 30px;
    }

    &__wrap{
        position: relative;
    }

    &__examples{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--letters-color);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 370px;
        height: 70px;
        left: 0;
        bottom: 0;
        background: var(--our-works-color);
    }
}