:root{
    --primary-text-color: #212121;
    --seconday-text-color: #757575;
    --accent-color: #2196F3;
    --letters-color: #fff;
    --logo-color: #000;
    --footer-links-color: rgba(255, 255, 255, 0.6);
    --border-form-color: rgba(255, 255, 255, 0.3);
    --hero-bg-color: #2F303A;  
    --footer-bg-color: #2F303A;
    --hero-button-color: #188CEB;
    --section-bg-color: #F5F4FA;
    --header-border: #ECECEC;
    --examples-border: #EEEEEE;
    --clients-color: #AFB1B8;
    --our-works-color: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --input-border: rgba(33, 33, 33, 0.2);
}